*.DS_Store
*.iml
*.ipr
*.iws
*.log
*.project
*.swp
*.class
*.jar
.gradle
.idea
.reviewboardrc
.settings
.shelf/
out/
build/
.jekyll-cache/
_site/
Gemfile.lock
.bundles_cache
docs/vendor/
clients/da-vinci-client/classHash*.txt

# Ignore Gradle build output directory
build
